@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Lato', sans-serif;
}

small
{
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif"
}
.clear {
	clear: both;
}
/*start header*/
/*start top-bar*/
.top-bar {
	text-align: center;
	width: 100%;
	background-color: #000;
	color: white;
	line-height: 26px;
	font-size: 14px;
}
.top-bar .row {
	/*border: solid red;*/
	width: 80%;
	margin: 0 auto;
}
.top-bar .row ul li {
	/*border: solid red;*/
	float: left;
	margin-right: 10px;
	padding-bottom: 10px;
}
.top-bar .row ul li span {
	/*border: solid red;*/
	margin-right: 10px;
}
/*end top-bar*/
/*start nagivation*/
.nagivation-content {
	/*border: solid red;*/
	line-height: 68px;
}
.nagivation-content .nagivation-logo {
	/*display: inline-block;*/
	/*border: solid green;*/
	margin-top: 13px;
	float: left;
}
.nagivation-content .nagivation-logo a  {
	font-size: 28px;
	/*border: solid yellow;*/
	text-decoration: none;
	font-weight: bold;
	color: #000;
	letter-spacing: -1px;
}
.nagivation-content .nagivation-logo a span  {
	color: #faa61a;
}
.nagivation-content .nagivation-logo a span i {
	font-size: 38px;
	margin-right: 10px;
}
.nagivation-content .nagivation-list-menu  {
	/*border: solid purple;*/
	/*display: inline-block;*/
	float: right;
	margin-top: 13px;
	height: 80px;
}
.nagivation-content .nagivation-list-menu  ul li {
	/*border: solid red;*/
	margin-right: 20px;
	font-weight: bold;
}
.nagivation-content .nagivation-list-menu  ul li a {
	/*border: solid red;*/
	text-decoration: none;
	color: #000;
	font-size: 14px;
}
.nagivation-content .nagivation-list-menu  ul li a:hover {
	color: #faa61a;
	/*border: solid red;*/
}
.nagivation-content .nagivation-list-menu .form-group a i  {
	border: solid 1px #faa61a;
	border-radius: 999px;
	padding: 10px;
	font-size: 20px;
	color: #faa61a;
	background-color: #FFFFFFFF;
}
.nagivation-content .nagivation-list-menu .form-group input[type=text] {

	border: solid 1px #faa61a;
	/*padding-left: 100px;*/
	height: 28px;
	border-radius: 3px;

}
.nagivation-content .responsive-menu {
	display: inline-block;
	float: right;
	font-size: 20px;
	margin-top: 16px; 
}
.nagivation-content .responsive-menu a {
	margin-right: 10px;
}
.fixed {
	position: fixed;
	z-index: 10000;
	top: 0;
	background-color: white;
	width: 100%;
	border-bottom: 1px solid #bcbcbc;
	line-height: 0px;
	height: 70px;
}
/*end nagivation*/
/*end header*/
/* -----------------------------------------------------
		Page Cover
   ----------------------------------------------------- */

.page-cover{
	padding:70px 0px;
	position:relative;
}

.page-cover::before{
	content:'';
	display:block;
	position:absolute;
	top:0;
	left:0;
	height:100%;	
	width:100%;
}

.page-cover h1{
	font-size:32px;
	font-weight:bold;
	margin-bottom:6px;
}

.page-cover .breadcrumb{
	padding:0px;
	margin:0px;
	font-size:14px;
	font-weight:300;
}

.page-cover .breadcrumb li a{
	text-decoration:none;
}
/*start best-feature*/
.black-features {
	padding-top:40px;
	padding-bottom:40px;
	background-color: #232323;
	color: white;
	/*border-radius: 999px;*/
}
.b-feature-block{
	text-align:center;
}
.b-feature-block .fa{
	height:70px;
	width:65px;
	text-align:center;
	padding-top:15px;
	font-size:35px;
	margin-bottom:28px;
	transition:.4s;
}
.b-feature-block h3{
	font-size:22px;
	font-weight:bold;
	margin-bottom:6px;
}
.b-feature-block p{
	margin-bottom:0px;
	font-size: 16px;
}
#tour-carousel .carousel-control{
	opacity:1;
	width:auto;
}
.b-feature-block .flip-animation {
	border: solid #faa61a;
	color: #faa61a;
}
.b-feature-block .flip-animation:hover {
	transform: rotateY(180deg);
	background-color: #faa61a;
	color: white;
}


